.cpButton {
	height: 19px;
	cursor : pointer;
}

.cpBlueButton-left {
	background: transparent url(images/rcm/buttons/background/ButtonBlue_Left_sprite.gif) no-repeat 0 0;
	width: 5px;
}

.cpBlueButton-left_over {
	background: transparent url(images/rcm/buttons/background/ButtonBlue_Left_sprite.gif) no-repeat -5px 0;
	width: 5px;
}

.cpBlueButton-left_pressed {
	background: transparent url(images/rcm/buttons/background/ButtonBlue_Left_sprite.gif) no-repeat -10px 0;
	width: 5px;
}

.cpBlueButton-left_disabled {
	background: transparent url(images/rcm/buttons/background/ButtonBlue_Left_sprite.gif) no-repeat -15px 0;
	width: 5px;
}

.cpBlueButton{
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpBlueButton-center {
	background:url(images/rcm/buttons/background/ButtonBlue_Middle_sprite.gif) repeat-x 0px 0px;
}

.cpBlueButton-center_over {
	background:url(images/rcm/buttons/background/ButtonBlue_Middle_sprite.gif) repeat-x 0px -19px;
}

.cpBlueButton-center_pressed {
	background:url(images/rcm/buttons/background/ButtonBlue_Middle_sprite.gif) repeat-x 0px -38px;
}

.cpBlueButton-center_disabled {
	background:url(images/rcm/buttons/background/ButtonBlue_Middle_sprite.gif) repeat-x 0px -57px;
	color: #ededed;
}

.cpBlueButton-right {
	background:transparent url(images/rcm/buttons/background/ButtonBlue_Right_sprite.gif) no-repeat 0px 0px;
	width: 5px;
}

.cpBlueButton-right_over {
	background:transparent url(images/rcm/buttons/background/ButtonBlue_Right_sprite.gif) no-repeat -5px 0px;
	width: 5px;
}

.cpBlueButton-right_pressed {
	background:transparent url(images/rcm/buttons/background/ButtonBlue_Right_sprite.gif) no-repeat -10px 0px;
	width: 5px;
}

.cpBlueButton-right_disabled {
	background:transparent url(images/rcm/buttons/background/ButtonBlue_Right_sprite.gif) no-repeat -15px 0px;
	width: 5px;
}

.cpBlueButton-spacer {
	width:5px;
}

.cpButton_disabled {
	height: 19px;
}

.cpGrayButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #494949;
	padding: 0 3px 0 3px;
	text-align: center;
}
.cpGreenButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	padding: 0 3px 0 3px;
	text-align: center;
}
.cpSelectedWizardButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	padding: 0 3px 0 3px;
	text-align: center;
}
.cpUnselectedWizardButton {
	font-family: arial;
	font-size: 11px;
	color: #676767;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpVisitedWizardButton {
	font-family: arial;
	font-size: 11px;
	color: #676767;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpLightgreenButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6f6f6f;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpLightgreenBoldButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6f6f6f;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpDarkGreenButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6f6f6f;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpCheckButton {
	font-family: arial;
	height: 15px;
	font-weight: bold;
	font-size: 11px;
	color: #6f6f6f;
	padding: 0 3px 0 3px;
	text-align: center;
	vertical-align: middle;
}

.cpUncheckButton {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6f6f6f;
	padding: 0 3px 0 3px;
	text-align: center;
}

.cpGrayButton-spacer {
	width:5px;
}

.cpGreenButton-spacer {
	width:5px;
}

.cpUnselectedWizardButton-spacer{
	width:10px;
	heigth:1px;
	border:;
}

.cpSelectedWizardButton-spacer {
	width:10px;
	heigth:1px;
	border:;
}
.cpVisitedWizardButton-spacer{
	width:10px;
	heigth:1px;
	border:;
}

.cpLightgreenButton-spacer{
	width:10px;
	heigth:1px;
	border:;
}

.cpLightgreenBoldButton-spacer{
	width:10px;
	heigth:1px;
	border:;
}

.cpDarkGreenButton-spacer{
	width:10px;
	heigth:1px;
	border:;
}

.cpCheckButton-spacer{
	width:5px;
	heigth:1px;
	border:;
}

.cpUncheckButton-spacer{
	width:5px;
	heigth:1px;
	border:;
}

.cpGrayButton-left {
	background: transparent url(images/rcm/buttons/background/ButtonGray_Left_sprite.gif) no-repeat 0px 0px;
	width: 5px;
}
.cpGrayButton-center {
	background:url(images/rcm/buttons/background/ButtonGray_Middle_sprite.gif) repeat-x 0px 0px;
}
.cpGrayButton-right {
	background:transparent url(images/rcm/buttons/background/ButtonGray_Right_sprite.gif) no-repeat 0px 0px;
	width: 5px;
}

.cpGrayButton-left_over {
	background: transparent url(images/rcm/buttons/background/ButtonGray_Left_sprite.gif) no-repeat -5px 0px;
	width: 5px;
}
.cpGrayButton-center_over {
	background:url(images/rcm/buttons/background/ButtonGray_Middle_sprite.gif) repeat-x 0px -19px;
	color: #494949;
}
.cpGrayButton-right_over {
	background:transparent url(images/rcm/buttons/background/ButtonGray_Right_sprite.gif) no-repeat -5px 0px;
	width: 5px;
}

.cpGrayButton-left_pressed {
	background: transparent url(images/rcm/buttons/background/ButtonGray_Left_sprite.gif) no-repeat -10px 0px;
	width: 5px;
}
.cpGrayButton-center_pressed {
	background:url(images/rcm/buttons/background/ButtonGray_Middle_sprite.gif) repeat-x 0px -38px;
	color: #ffffff;
}
.cpGrayButton-right_pressed {
	background:transparent url(images/rcm/buttons/background/ButtonGray_Right_sprite.gif) no-repeat -10px 0px;
	width: 5px;
}

.cpGrayButton-left_disabled {
	background: transparent url(images/rcm/buttons/background/ButtonGray_Left_sprite.gif) no-repeat -15px 0px;
	width: 5px;
}
.cpGrayButton-center_disabled {
	background:url(images/rcm/buttons/background/ButtonGray_Middle_sprite.gif) repeat-x 0px -57px;
	color: #ededed;
}
.cpGrayButton-right_disabled {
	background:transparent url(images/rcm/buttons/background/ButtonGray_Right_sprite.gif) no-repeat -15px 0px;
	width: 5px;
}


.cpGreenButton-left {
	background: transparent url(images/rcm/buttons/background/ButtonGreen_Left_sprite.gif) no-repeat 0px 0px;
	width: 5px;
}
.cpGreenButton-center {
	background:url(images/rcm/buttons/background/ButtonGreen_Middle_sprite.gif) repeat-x 0px 0px;
}
.cpGreenButton-right {
	background:transparent url(images/rcm/buttons/background/ButtonGreen_Right_sprite.gif) no-repeat 0px 0px;
	width: 5px;
}

.cpGreenButton-left_over {
	background: transparent url(images/rcm/buttons/background/ButtonGreen_Left_sprite.gif) no-repeat -5px 0px;
	width: 5px;
}
.cpGreenButton-center_over {
	background:url(images/rcm/buttons/background/ButtonGreen_Middle_sprite.gif) repeat-x 0px -19px;
}
.cpGreenButton-right_over {
	background:transparent url(images/rcm/buttons/background/ButtonGreen_Right_sprite.gif) no-repeat -5px 0px;
	width: 5px;
}

.cpGreenButton-left_pressed {
	background: transparent url(images/rcm/buttons/background/ButtonGreen_Left_sprite.gif) no-repeat -10px 0px;
	width: 5px;
}
.cpGreenButton-center_pressed {
	background:url(images/rcm/buttons/background/ButtonGreen_Middle_sprite.gif) repeat-x 0px -38px;
}
.cpGreenButton-right_pressed {
	background:transparent url(images/rcm/buttons/background/ButtonGreen_Right_sprite.gif) no-repeat -10px 0px;
	width: 5px;
}

.cpGreenButton-left_disabled {
	background: transparent url(images/rcm/buttons/background/ButtonGreen_Left_sprite.gif) no-repeat -15px 0px;
	width: 5px;
}
.cpGreenButton-center_disabled {
	background:url(images/rcm/buttons/background/ButtonGreen_Middle_sprite.gif) repeat-x 0px -57px;
	color: #ededed;
}
.cpGreenButton-right_disabled {
	background:transparent url(images/rcm/buttons/background/ButtonGreen_Right_sprite.gif) no-repeat -15px 0px;
	width: 5px;
}

.cpSelectedWizardButton-left_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Left_Selected.gif) no-repeat;
	width: 10px;
}
.cpSelectedWizardButton-center_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Middle_Selected.gif) repeat-x;
}
.cpSelectedWizardButton-right_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Right_Selected.gif) no-repeat;
	width: 10px;
}

.cpUnselectedWizardButton-left_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Left.gif) no-repeat;
	width: 10px;
}
.cpUnselectedWizardButton-center_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Middle.gif) repeat-x;
}
.cpUnselectedWizardButton-right_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Right.gif) no-repeat;
	width: 10px;
}

.cpVisitedWizardButton-left_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Left_visited.gif) no-repeat;
	width: 10px;
}
.cpVisitedWizardButton-center_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Middle_visited.gif) repeat-x;
}
.cpVisitedWizardButton-right_disabled {
	background:transparent url(images/rcm/wizard/WizTab_Right_visited.gif) no-repeat;
	width: 10px;
}
.cpLightgreenButton-left {
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -36px 0px;
	height: 26px;
	width: 5px
}
.cpLightgreenButton-center {
	background:url(images/rcm/buttons/background/Lightgreen_Norm_1px.png) repeat-x 0px 4px;

}
.cpLightgreenButton-right {
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -27px 0px;
	height: 26px;
	width: 5px;
}

.cpLightgreenButton-left_over {
	// background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat;
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -56px 0px;
	height: 26px;
	width: 5px;
}
.cpLightgreenButton-center_over {
	// background:url(images/rcm/buttons/background/Lightgreen_Over_1px.gif) repeat-x;
	background:url(images/rcm/buttons/background/Lightgreen_Over_1px.png) repeat-x 0px 4px;
	color: #636363;
}
.cpLightgreenButton-right_over {
	// background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat  -14px 0px;
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -47px 0px;
	height: 26px;
	width: 5px;
}

.cpLightgreenButton-left_pressed {
	// background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat;
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -56px 0px;
	height: 26px;
	width: 5px;
}
.cpLightgreenButton-center_pressed {
	// background:url(images/rcm/buttons/background/Lightgreen_Over_1px.gif) repeat-x;
	background:url(images/rcm/buttons/background/Lightgreen_Over_1px.png) repeat-x 0px 4px;
	// color: #fefad2;
	color: #636363;
}
.cpLightgreenButton-right_pressed {
	// background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat  -14px 0px;
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -47px 0px;
	height: 26px;
	width: 5px;
}

.cpLightgreenButton-left_disabled {
	// background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -56px 0px;
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat;
	height: 26px;
	width: 5px;
}
.cpLightgreenButton-center_disabled {
	// background:url(images/rcm/buttons/background/Lightgreen_Over_1px.png) repeat-x 0px 4px;
	background:url(images/rcm/buttons/background/Lightgreen_Over_1px.gif) repeat-x;
	height: 26px;
}
.cpLightgreenButton-right_disabled {
	// background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -47px 0px;
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat  -14px 0px;
	height: 26px;
	width: 5px;
}
.cpDarkGreenButton-left {
	background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -24px 0px;
	height: 26px;
	width: 9px
}
.cpDarkGreenButton-center {
	background:url(images/rcm/buttons/background/Darkgreen_Norm_1px.png) repeat-x 0px 4px;
	font-weight:normal;
	color: #FEFFFD;
}
.cpDarkGreenButton-right {
	background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -36px 0px;
	height: 26px;
	width: 9px;
}

.cpDarkGreenButton-left_over {
	// background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat  -1px 0px;
	background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -24px 0px;
	height: 26px;
	width: 13px;
}
.cpDarkGreenButton-center_over {
	// background:url(images/rcm/buttons/background/Darkgreen_Select_1px.gif) repeat-x ;
	background:url(images/rcm/buttons/background/Darkgreen_Norm_1px.png) repeat-x 0px 4px;
	font-weight:bold;
	height: 26px;
	color: #FEFFFD;
}
.cpDarkGreenButton-right_over {
	// background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -14px 0px;
	background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -36px 0px;
	height: 26px;
	width: 13px;
}

.cpDarkGreenButton-left_pressed {
	// background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat  -1px 0px;
	background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -24px 0px;
	height: 26px;
	width: 13px;
}
.cpDarkGreenButton-center_pressed {
	// background:url(images/rcm/buttons/background/Darkgreen_Select_1px.gif) repeat-x;
	background:url(images/rcm/buttons/background/Darkgreen_Norm_1px.png) repeat-x 0px 4px;
	font-weight:bold;
	color: #FEFFFD;
	height: 26px;
}
.cpDarkGreenButton-right_pressed {
	// background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -14px 0px;
	background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -36px 0px;
	height: 26px;
	width: 13px;
}

.cpDarkGreenButton-left_disabled {
	// background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -24px 0px;
	background: transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat  -1px 0px;
	height: 26px;
	width: 13px;
}
.cpDarkGreenButton-center_disabled {
	// background:url(images/rcm/buttons/background/Darkgreen_Norm_1px.png) repeat-x 0px 4px;
	background:url(images/rcm/buttons/background/Darkgreen_Select_1px.gif) repeat-x;
	font-weight:bold;
	color: #FEFFFD;
	height: 26px;
}
.cpDarkGreenButton-right_disabled {
	// background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -36px 0px;
	background:transparent url(images/rcm/buttons/background/Darkgreen_Left_And_Right_Sprite.gif) no-repeat -14px 0px;
	height: 26px;
	width: 13px;
}

.cpCheckButton-left {
	background: transparent url(images/rcm/buttons/background/CheckButton.gif) no-repeat -10px 0px;
	height: 15px;
	width: 5px
}
.cpCheckButton-center {
	background:url(images/rcm/buttons/background/Check_Norm_1px.png) repeat-x;
	height: 15px;
	vertical-align: middle;
	font-weight:bold;
	padding: 0 3px 4px 3px;
	color: #484848;
}
.cpCheckButton-right {
	background:transparent url(images/rcm/buttons/background/CheckButton.gif) no-repeat 0x 0px;
	height: 15px;
	width: 5px;
}

.cpCheckButton-left_over {
	background: transparent url(images/rcm/buttons/background/CheckButton.gif) no-repeat  -15px 0px;
	height: 15px;
	width: 5px;
}
.cpCheckButton-center_over {
	background:url(images/rcm/buttons/background/Check_Press_1px.png) repeat-x ;
	padding: 0 3px 4px 3px;
	color: #FEFFFD;
}
.cpCheckButton-right_over {
	background:transparent url(images/rcm/buttons/background/CheckButton.gif) no-repeat -5px 0px;
	height: 15px;
	width: 5px;
}

.cpCheckButton-left_pressed {
	background: transparent url(images/rcm/buttons/background/CheckButton.gif) no-repeat  -15px 0px;
	height: 15px;
	width: 5px;
}
.cpCheckButton-center_pressed {
	background:url(images/rcm/buttons/background/Check_Press_1px.png) repeat-x;
	padding: 0 3px 4px 3px;
	color: #FEFFFD;
}
.cpCheckButton-right_pressed {
	background:transparent url(images/rcm/buttons/background/CheckButton.gif) no-repeat -5px 0px;
	height: 15px;
	width: 5px;
}

.cpUncheckButton-left {
	background: transparent url(images/rcm/buttons/background/UncheckButton.gif) no-repeat -10px 0px;
	height: 15px;
	width: 5px
}
.cpUncheckButton-center {
	background:url(images/rcm/buttons/background/UnCheck_Norm_1px.png) repeat-x;
	height: 15px;
	vertical-align: middle;
	font-weight:bold;
	padding: 0 3px 4px 3px;
	color: #797979;
}
.cpUncheckButton-right {
	background:transparent url(images/rcm/buttons/background/UncheckButton.gif) no-repeat 0x 0px;
	height: 15px;
	width: 5px;
}

.cpUncheckButton-left_over {
	background: transparent url(images/rcm/buttons/background/UncheckButton.gif) no-repeat  -15px 0px;
	height: 15px;
	width: 5px;
}
.cpUncheckButton-center_over {
	background:url(images/rcm/buttons/background/UnCheck_Press_1px.png) repeat-x ;
	padding: 0 3px 4px 3px;
	color: #FEFFFD;
}
.cpUncheckButton-right_over {
	background:transparent url(images/rcm/buttons/background/UncheckButton.gif) no-repeat -5px 0px;
	height: 15px;
	width: 5px;
}

.cpUncheckButton-left_pressed {
	background: transparent url(images/rcm/buttons/background/UncheckButton.gif) no-repeat  -15px 0px;
	height: 15px;
	width: 5px;
}
.cpUncheckButton-center_pressed {
	background:url(images/rcm/buttons/background/UnCheck_Press_1px.png) repeat-x;
	padding: 0 3px 4px 3px;
	color: #FEFFFD;
}
.cpUncheckButton-right_pressed {
	background:transparent url(images/rcm/buttons/background/UncheckButton.gif) no-repeat -5px 0px;
	height: 15px;
	width: 5px;
}

.cpLightgreenBoldButton-left {
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -36px 0px;
	height: 26px;
	width: 5px
}
.cpLightgreenBoldButton-center {
	background:url(images/rcm/buttons/background/Lightgreen_Norm_1px.png) repeat-x 0px 4px;
	font-weight: bold;
}
.cpLightgreenBoldButton-right {
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -27px 0px;
	height: 26px;
	width: 5px;
}

.cpLightgreenBoldButton-left_over {
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat;
	height: 26px;
	width: 5px;
}
.cpLightgreenBoldButton-center_over {
	background:url(images/rcm/buttons/background/Lightgreen_Over_1px.gif) repeat-x;
	font-weight: bold;
	color: #636363;
}
.cpLightgreenBoldButton-right_over {
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat  -14px 0px;
	height: 26px;
	width: 5px;
}

.cpLightgreenBoldButton-left_pressed {
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat;
	font-weight: bold;
	height: 26px;
	width: 5px;
}
.cpLightgreenBoldButton-center_pressed {
	background:url(images/rcm/buttons/background/Lightgreen_Over_1px.gif) repeat-x;
	font-weight: bold;
	color: #fefad2;
}
.cpLightgreenBoldButton-right_pressed {
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat  -14px 0px;
	height: 26px;
	width: 5px;
}

.cpLightgreenBoldButton-left_disabled {
	background: transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -56px 0px;
	height: 26px;
	width: 5px;
}
.cpLightgreenBoldButton-center_disabled {
	background:url(images/rcm/buttons/background/Lightgreen_Over_1px.png) repeat-x 0px 4px;
	font-weight: bold;
	height: 26px;
}
.cpLightgreenBoldButton-right_disabled {
	background:transparent url(images/rcm/buttons/background/Lightgreen_Left_And_Right_Sprite.gif) no-repeat -47px 0px;
	height: 26px;
	width: 5px;
}

.actionButtons {
	display: inline-block;
}


.customButton {
	padding-right: 13px;
}

