.tbl {
  border-collapse: collapse;
  width: 100%;
}

.tbl td, .tbl th {
  border: none;
  padding: 8px;
}

/*#mediaNews tr:nth-child(even){background-color: #f2f2f2;}*/
.tbl tr:nth-child(even){background-color: #f2f2f2;}

.tbl tr:hover {background-color: #ddd;}

.tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.tdLable{
	width: 30%;
	vertical-align: top;
}
.tdValue{
	width: 25%;
}
#tblTabs {
  width: 50%;
}
.clsRegTab{
	width: 100%;
}
.inputLabel{
	font-size: 12px;
	font-weight: bold;
}

.inputLabelMandatory:before {
    content:"* ";
    color: red;
}


div.media {
	border-style: ridge;
	border-width: thin;
}
div.customerDiv {
	border-style: ridge;
	border-width: thin;
}
#mediaAddRemove td{
	text-align: right;
	vertical-align: bottom;
}
.ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}
.comments{
	width: 100%;
	height: 10em;
    width: 40em;
}
.inputLabelComments{
	vertical-align: text-top;
}

.mediaDiv{
	overflow: hidden;
	width: 100%;
}
.media{
	width: 80%;
}
.removeBtn{
	width: 20%;
}

.clsRegTab-center_disabled {
    background: url(images/rcm/tabs/BlueTab_middle.gif) repeat-x;
    color: grey;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    height: 20px;
    border-bottom: 1px solid #B7B7B7;
	cursor: default;
}

.tabDisabled {
	cursor: default;
}

table.tdDisabled {
	cursor: default;
}

table.tdDisabled td.cpGrayButton-center{
	color: white;
}
